<template>
  <div class="ma-6">
    <div v-if="activities">
      <div>
        <p class="display-1">Favorites</p>
        <div v-if="favorites.length == 0" class="mb-6">Nothing here yet!</div>
        <div v-else class="card-wrapper">
          <v-card
            class="mr-6 mb-6 d-flex flex-column"
            width="340px"
            outlined
            v-for="fav in orderedFavorites"
            :key="fav.id"
          >
            <v-img
              v-if="fav.img"
              class="white--text align-end flex-grow-0"
              height="150px"
              v-bind:src="fav.img"
              gradient="to top, rgba(0,0,0,0.75), transparent"
            >
              <v-card-title class="headline">{{fav.name}}</v-card-title>
            </v-img>
            <v-card-title v-else class="headline">{{fav.name}}</v-card-title>
            <v-card-text class="pb-0 flex-grow-1">
              <div v-for="detail in fav.details" :key="detail.title">
                <p class="text--primary ma-0">{{detail.title}}</p>
                <div class="d-flex flex-wrap">
                  <div
                    v-for="item in getCurrentCycle(detail)"
                    :key="item.content"
                    class="item"
                    v-bind:class="{fullWidth: item.type == 'text'}"
                  >
                    <p v-if="item.type == 'text'" class="title text--primary">{{item.content}}</p>
                    <Item
                      v-if="item.type == 'item'"
                      class="mb-4 mr-3"
                      table="DestinyInventoryItemDefinition"
                      v-bind:hash="item.content"
                      height="75px"
                      staticRoll
                    ></Item>
                    <Item
                      v-if="item.type == 'modifier'"
                      class="mb-4 mr-3"
                      table="DestinyActivityModifierDefinition"
                      v-bind:hash="item.content"
                      height="60px"
                      displayProperties
                      noDecoration="true"
                      imgWithTheme="true"
                    ></Item>
                  </div>
                </div>
              </div>
            </v-card-text>
            <v-card-actions class="mt-n4">
              <v-spacer></v-spacer>
              <v-btn
                text
                v-bind:color="favorites.includes(fav.id) ? 'yellow' : ''"
                @click="changeFavorite(fav.id)"
              >favorite</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
      <div v-for="category in cycles" :key="category.name">
        <p class="display-1">{{category.name}}</p>
        <div class="card-wrapper">
          <v-card
            class="mr-6 mb-6 d-flex flex-column"
            width="340px"
            outlined
            v-for="cycle in category.cycles"
            :key="cycle.name"
          >
            <v-img
              v-if="cycle.img"
              class="white--text align-end flex-grow-0"
              height="150px"
              v-bind:src="cycle.img"
              gradient="to top, rgba(0,0,0,0.75), transparent"
            >
              <v-card-title class="headline">{{cycle.name}}</v-card-title>
            </v-img>
            <v-card-title v-else class="headline">{{cycle.name}}</v-card-title>
            <v-card-text class="pb-0 flex-grow-1">
              <div v-for="detail in cycle.details" :key="detail.title">
                <p class="text--primary ma-0">{{detail.title}}</p>
                <div class="d-flex flex-wrap">
                  <div
                    v-for="item in getCurrentCycle(detail)"
                    :key="item.content"
                    class="item"
                    v-bind:class="{fullWidth: item.type == 'text'}"
                  >
                    <p v-if="item.type == 'text'" class="title text--primary">{{item.content}}</p>
                    <Item
                      v-if="item.type == 'item'"
                      class="mb-4 mr-3"
                      table="DestinyInventoryItemDefinition"
                      v-bind:hash="item.content"
                      height="75px"
                      staticRoll
                    ></Item>
                    <Item
                      v-if="item.type == 'modifier'"
                      class="mb-4 mr-3"
                      table="DestinyActivityModifierDefinition"
                      v-bind:hash="item.content"
                      height="60px"
                      displayProperties
                      noDecoration="true"
                      imgWithTheme="true"
                    ></Item>
                  </div>
                </div>
              </div>
            </v-card-text>
            <v-card-actions class="mt-n4">
              <v-spacer></v-spacer>
              <v-btn
                text
                v-bind:color="favorites.includes(cycle.id) ? 'yellow' : ''"
                @click="changeFavorite(cycle.id)"
              >favorite</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
    </div>
    <v-progress-circular v-else indeterminate></v-progress-circular>
  </div>
</template>

<script>
import Axios from "axios";
import Item from "../components/Item.vue";
import cycles from "../resources/cycles.json";

export default {
  name: "Cycles",
  components: {
    Item
  },
  computed: {
    orderedFavorites() {
      let orderedFavs = [];
      this.$data.cycles.forEach(group => {
        group.cycles.forEach(cycle => {
          if (this.$data.favorites.some(f => f == cycle.id)) {
            orderedFavs.push(cycle);
          }
        });
      });
      return orderedFavs;
    }
  },
  data() {
    return {
      activities: undefined,
      milestones: undefined,
      cycles: cycles,
      favorites: undefined
    };
  },
  methods: {
    getCurrentCycle(detail) {
      if (detail.type == "static") {
        //Static type means that a cycle is on a set schedule, either weekly or daily
        let DEpoch = 1539709200; //Destiny Epoch (DEpoch) is october 16th at reset time, picked totally arbitrarily
        let currentTime = Math.floor(new Date().getTime() / 1000);
        let secondsSinceDEpoch = currentTime - DEpoch;
        let cycleSteps = detail.isWeek //Convert to days or weeks since DEpoch, depending on the cycle's configuration
          ? Math.floor(secondsSinceDEpoch / 604800)
          : Math.floor(secondsSinceDEpoch / 86400);
        return detail.opts[cycleSteps % detail.opts.length].map(item => ({
          content: item,
          type: "text"
        })); //This will return the appropriate state, assuming the cycle is truly static.
      } else if (detail.type == "staticitems") {
        let DEpoch = 1539709200; //Destiny Epoch (DEpoch) is october 16th at reset time, picked totally arbitrarily
        let currentTime = Math.floor(new Date().getTime() / 1000);
        let secondsSinceDEpoch = currentTime - DEpoch;
        let cycleSteps = detail.isWeek //Convert to days or weeks since DEpoch, depending on the cycle's configuration
          ? Math.floor(secondsSinceDEpoch / 604800)
          : Math.floor(secondsSinceDEpoch / 86400);
        return detail.opts[cycleSteps % detail.opts.length].map(item => ({
          content: item,
          type: "item"
        })); //This will return the appropriate state, assuming the cycle is truly static.
      } else if (detail.type == "available") {
        //Available type means that a cycle is determined by looking through the available activities for hashes
        return this.$data.activities
          .filter(act => {
            if (detail.opts[act.activityHash]) {
              let def = this.$store.state.manifest.DestinyActivityDefinition[
                act.activityHash
              ];
              if (!def.guidedGame) {
                return true;
              }
            }
            return false;
          }) //Filter all available activities for only activities in the cycle's list
          .map(
            //Convert the array of activities to an array of the activity names
            act => ({
              content: detail.opts[act.activityHash],
              type: "text"
            })
          );
      } else if (detail.type == "milestoneLoc") {
        return [
          {
            content: this.$store.state.manifest.DestinyPlaceDefinition[
              this.$store.state.manifest.DestinyDestinationDefinition[
                this.$store.state.manifest.DestinyMilestoneDefinition[
                  detail.opts
                ].quests[
                  this.$data.milestones[detail.opts].availableQuests[0]
                    .questItemHash
                ].destinationHash
              ].placeHash
            ].displayProperties.name,
            type: "text"
          }
        ];
      } else if (detail.type == "modifiers") {
        //Modifiers means that the cycle is actually fetching the current modifiers on a given activity
        if (
          this.$data.activities.find(act =>
            detail.opts.includes(act.activityHash)
          )
        ) {
          return this.$data.activities
            .find(act => detail.opts.includes(act.activityHash)) //Find the given activity
            .modifierHashes.map(
              //Conver the activity to a list of its modifier names
              mod => ({ content: mod, type: "modifier" })
            );
        }
        return [];
      } else {
        return []; //If cycle is incorrectly configured, return an empty array
      }
    },
    changeFavorite(fav) {
      if (this.$data.favorites.includes(fav)) {
        this.$data.favorites.splice(this.$data.favorites.indexOf(fav), 1);
      } else {
        this.$data.favorites.push(fav);
      }
      localStorage.setItem(
        "cycle-favorites",
        JSON.stringify(this.$data.favorites)
      );
    }
  },
  mounted() {
    let favorites = JSON.parse(localStorage.getItem("cycle-favorites"));
    this.$data.favorites = favorites ? favorites : [];
    Promise.all([
      Axios.get(
        "https://www.bungie.net/Platform/Destiny2/3/Profile/4611686018467184751/Character/2305843009299969867",
        {
          params: { components: 204 },
          headers: {
            "X-API-Key": process.env.VUE_APP_BUNGIE_KEY
          }
        }
      ),
      Axios.get("https://www.bungie.net/Platform/Destiny2/Milestones/", {
        headers: {
          "X-API-Key": process.env.VUE_APP_BUNGIE_KEY
        }
      })
    ]).then(resps => {
      // resps[0].data.Response.activities.data.availableActivities.forEach(
      //   act => {
      //     console.log(
      //       this.$store.state.manifest.DestinyActivityDefinition[
      //         act.activityHash
      //       ].displayProperties
      //     );
      //     if (
      //       this.$store.state.manifest.DestinyActivityDefinition[
      //         act.activityHash
      //       ].displayProperties.name.includes("Nightfall")
      //     )
      //       console.log(
      //         this.$store.state.manifest.DestinyActivityDefinition[
      //           act.activityHash
      //         ]
      //       );
      //   }
      // );
      this.$data.activities =
        resps[0].data.Response.activities.data.availableActivities;
      this.$data.milestones = resps[1].data.Response;
      Axios.get(
        "https://www.bungie.net/Platform/Destiny2//Vendors/?components=400,401,402",
        {
          headers: {
            "X-API-Key": process.env.VUE_APP_BUNGIE_KEY
          }
        }
      ).then(resp => {
        console.log(resp);
      });
    });
  }
};
</script>

<style scoped>
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.fullWidth {
  flex-basis: 100%;
}
</style>
