<template>
  <div>
    <div v-if="!loading" class="content">
      <div class="band">
        <v-row class="band-content" align="stretch">
          <v-col cols="12" md="8">
            <div class="display-1">Welcome to</div>
            <div class="display-4">Sidearm</div>
            <div class="headline">Brought to you by the WTFIX team</div>
          </v-col>
          <v-col cols="12" md="4">
            <v-card outlined class="band-info">
              <v-card-title>Message of the Day</v-card-title>
              <v-card-text class="preformatted">{{motd}}</v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <div v-if="xur.present" class="xur band">
        <v-row class="band-content" align="stretch">
          <v-col cols="12" md="8">
            <div v-if="xur.found" class="display-2">Xur is on {{xur.planet}}</div>
            <div v-else>Xur is here, but we haven't found him</div>
            <div class="headline">
              Location data from
              <a class="text--primary" href="https://wtfix.gg/">WTFIX</a>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <XurMini class="band-info"></XurMini>
          </v-col>
        </v-row>
      </div>
      <div class="band">
        <v-row class="band-content" align="stretch">
          <v-col cols="12" md="8">
            <div class="display-2">Season Info</div>
          </v-col>
        </v-row>
      </div>
    </div>
    <v-progress-circular v-else indeterminate></v-progress-circular>
  </div>
</template>

<script>
import Axios from "axios";
import XurMini from "../components/XurMini.vue";
export default {
  name: "Cycles",
  components: {
    XurMini
  },
  data() {
    return {
      loading: true,
      xur: undefined,
      xurVendor: undefined
    };
  },
  mounted() {
    Promise.all([
      Axios.get("https://where-the-fuck-is-xur-ed4bd.firebaseio.com/xur.json"),
      Axios.get("https://sidearm-master.firebaseio.com/motd.json")
    ]).then(resps => {
      this.xur = resps[0].data;
      this.motd = resps[1].data;
      this.loading = false;
    });
  }
};
</script>

<style scoped>
.content {
  width: 100%;
}

.band {
  padding: 50px 0;
}

.band-content {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

.band-info {
  height: 100%;
}

.xur {
  background-color: rgba(50, 100, 50, 0.3);
}

.preformatted {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}
</style>
