<template>
  <a v-bind:href="oauthUrl">go here to login pls</a>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      oauthUrl: "https://www.bungie.net/en/OAuth/Authorize?response_type=code&client_id=" + process.env.VUE_APP_BUNGIE_ID
    }
  }
}
</script>
