<template width="100%">
  <div>
    <v-container v-resize="updateHeight" v-if="!isLoading" class="pa-0 ma-0" fluid fill-height>
      <v-row no-gutters>
        <v-col sm="2">
          <v-list expand :style="'height: ' + height + 'px'" class="overflow-y-auto">
            <v-list-group
              value="true"
              v-for="group in processVendorGroups()"
              :key="group.vendorGroupDef.categoryName"
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>
                    {{
                    group.vendorGroupDef.categoryName
                    }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item
                v-for="vendor in processVendorsFromGroup(group)"
                :key="vendor.displayProperties.name"
                ripple
                selectable
                :to="'/app/vendors/' + vendor.hash"
                class="pl-10"
              >
                <v-list-item-avatar color="black">
                  <v-img :src="getIcon('DestinyVendorDefinition', vendor.hash)"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    {{
                    vendor.displayProperties.name
                    }}
                  </v-list-item-title>
                  <v-list-item-subtitle>{{vendor.displayProperties.subtitle}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-list>
        </v-col>
        <!-- Split into right half of screen




        -->
        <v-col sm="10">
          <v-row
            v-if="selectedVendor"
            :style="'height: ' + height + 'px'"
            class="overflow-y-auto mx-0"
            align-content="start"
          >
            <v-col sm="12">
              <v-card outlined>
                <v-row no-gutters>
                  <v-img
                    :src="getIcon('DestinyVendorDefinition',selectedVendor,true)"
                    max-height="150px"
                    max-width="525px"
                    class="white--text align-end"
                  ></v-img>
                  <v-card flat>
                    <v-card-title class="display-1 text--primary">
                      {{
                      getManifestItem("DestinyVendorDefinition", selectedVendor)
                      .displayProperties.name
                      }}
                    </v-card-title>
                    <v-card-text>{{getManifestItem("DestinyVendorDefinition", selectedVendor).displayProperties.description}}</v-card-text>
                  </v-card>
                </v-row>
              </v-card>
            </v-col>

            <v-col sm="8">
              <v-card
                v-for="itemCategory in selectedVendorCats"
                :key="itemCategory.displayCategoryIndex.toString() + ', ' + selectedVendor.toString()"
                class="mb-4"
                outlined
              >
                <div
                  v-if="getManifestItem(
                  'DestinyVendorDefinition',
                  selectedVendor
                  ).displayCategories[itemCategory.displayCategoryIndex].displayProperties.name !== 'Bounties'"
                >
                  <v-card-title>
                    {{
                    getManifestItem(
                    "DestinyVendorDefinition",
                    selectedVendor
                    ).displayCategories[itemCategory.displayCategoryIndex].displayProperties.name
                    }}
                  </v-card-title>
                  <v-card-text class="pl-3">
                    <div class="d-flex flex-wrap">
                      <Item
                        v-for="item in itemCategory.itemIndexes.map(i => apiData.sales.data[selectedVendor].saleItems[i])"
                        :key="item.vendorItemIndex"
                        class="pr-2 pb-2"
                        table="DestinyInventoryItemDefinition"
                        v-bind:hash="item.itemHash"
                        height="75px"
                        showDescription="true"
                      ></Item>
                    </div>
                  </v-card-text>
                </div>
                <div v-else>
                  <v-card-title>
                    {{
                    getManifestItem(
                    "DestinyVendorDefinition",
                    selectedVendor
                    ).displayCategories[itemCategory.displayCategoryIndex].displayProperties.name
                    }}
                  </v-card-title>
                  <v-card-text class="pl-3">
                    <div class="d-flex flex-wrap">
                      <Item
                        v-for="item in itemCategory.itemIndexes.map(i => apiData.sales.data[selectedVendor].saleItems[i])"
                        :key="item.vendorItemIndex"
                        class="pr-2 pb-2"
                        table="DestinyInventoryItemDefinition"
                        v-bind:hash="item.itemHash"
                        height="75px"
                        v-bind:showDescription="false"
                      ></Item>
                    </div>
                  </v-card-text>
                </div>
              </v-card>
            </v-col>
            <v-col sm="4">
              <v-card outlined>
                <v-card-title class="justify-center" primary-title>Locations</v-card-title>

                <div v-if="vendorLocation.generalLocationHash !== 0">
                  <v-card-subtitle
                    class="text-center pb-0 pa-1"
                  >At {{getManifestItem("DestinyActivityDefinition",vendorLocation.generalLocationHash).displayProperties.name}}</v-card-subtitle>
                  <v-row>
                    <v-col sm="1"></v-col>
                    <v-col sm="10">
                      <v-img
                        class="justify-center"
                        :src="getLocationPhoto(getManifestItem('DestinyActivityDefinition',vendorLocation.generalLocationHash).pgcrImage)"
                        width="100%"
                      ></v-img>
                    </v-col>
                  </v-row>
                </div>
                <v-card-subtitle
                  class="text-center pb-0 pa-1"
                >In {{getManifestItem("DestinyDestinationDefinition",vendorLocation.specficiLocationHash).displayProperties.name}}</v-card-subtitle>

                <v-row>
                  <v-col sm="1"></v-col>
                  <v-col sm="10">
                    <v-img
                      class="justify-center"
                      :src="getLocationPhoto(vendorLocation.specificLocationPhoto)"
                      width="100%"
                    ></v-img>
                  </v-col>
                </v-row>
                <v-pagination
                  v-model="pagination.startPage"
                  :length="pagination.amtOfPages"
                  circle
                  @input="next"
                  v-if="pagination.amtOfPages > 1"
                ></v-pagination>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-progress-circular v-else indeterminate></v-progress-circular>
  </div>
</template>

<script>
import Axois from "axios";
import Item from "../components/Item.vue";
import LoginMixin from "../mixins/LoginMixin.js";

export default {
  mixins: [LoginMixin],
  data() {
    return {
      isLoading: true,
      apiData: undefined,
      placeHolderIcon:
        "www.bungie.net/common/destiny2_content/icons/47849b754551cc0f4f03acd7554882eb.jpg",
      panel: [0, 1],
      pagination: {
        startPage: 1,
        amtOfPages: 5
      },
      page: 0,
      height: window.innerHeight - this.$vuetify.application.top
    };
  },
  components: {
    Item
  },
  computed: {
    scrollbarTheme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    },
    stateManifest() {
      return this.$store.state.manifest;
    },
    getAPICallInfo() {
      if (this.$store.state.profile && this.$store.state.char) {
        return {
          plat: this.$store.state.profile.membershipType,
          profile: this.$store.state.profile.membershipId,
          char: this.$store.state.char
        };
      } else {
        return undefined;
      }
    },
    selectedVendor() {
      return this.$route.params.vendor;
    },
    selectedVendorCats() {
      return this.$data.apiData.categories.data[
        this.$route.params.vendor
      ].categories.filter(
        c =>
          this.getManifestItem(
            "DestinyVendorDefinition",
            this.$route.params.vendor
          ).displayCategories[c.displayCategoryIndex].identifier !=
          "category_preview"
      );
    },
    vendorLocation() {
      return this.getVendorLocations(this.$route.params.vendor)[
        this.$data.page
      ];
    }
  },
  watch: {
    getAPICallInfo: {
      immediate: true,
      handler(info) {
        if (info) {
          this.isLoading = true;
          Axois.get(
            "https://www.bungie.net/Platform/Destiny2/" +
              info.plat +
              "/Profile/" +
              info.profile +
              "/Character/" +
              info.char +
              "/Vendors/?components=400,401,402",
            { headers: this.$store.state.apiHttpHeaders }
          ).then(r => {
            this.$data.apiData = r.data.Response;
            console.log(this.$data.apiData);
            this.isLoading = false;
          });
        }
      }
    }
  },
  name: "Vendors",
  methods: {
    next(page) {
      this.$data.page = page - 1;
    },
    getLocationPhoto(url) {
      return "https://www.bungie.net" + url;
    },
    getVendorLocations(hash) {
      let amtOfLocations = this.getManifestItem("DestinyVendorDefinition", hash)
        .locations.length;
      this.$data.pagination.amtOfPages = amtOfLocations;

      let locationData = [];
      for (let i = 0; i < amtOfLocations; i++) {
        locationData[i] = {};
        locationData[i].specificLocationPhoto = this.getManifestItem(
          "DestinyVendorDefinition",
          hash
        ).locations[i].backgroundImagePath;
        locationData[i].specficiLocationHash = this.getManifestItem(
          "DestinyVendorDefinition",
          hash
        ).locations[i].destinationHash;
        locationData[i].generalLocationHash = this.getManifestItem(
          "DestinyDestinationDefinition",
          locationData[i].specficiLocationHash
        ).defaultFreeroamActivityHash;
      }
      return locationData;
    },
    getManifestItem(table, item) {
      if (this.stateManifest[table][item] == undefined) {
        console.log(table, item);
      }
      return this.stateManifest[table][item];
    },
    getIcon(
      table,
      hash,
      large = 0,
      defaultTable = undefined,
      defaultHash = undefined
    ) {
      if (
        this.getManifestItem(table, hash).displayProperties.hasIcon == false
      ) {
        return (
          "https://www.bungie.net" +
          this.getManifestItem(defaultTable, defaultHash).displayProperties.icon
        );
      }
      if (large) {
        return (
          "https://www.bungie.net" +
          this.getManifestItem(table, hash).displayProperties.largeIcon
        );
      } else {
        return (
          "https://www.bungie.net" +
          this.getManifestItem(table, hash).displayProperties.icon
        );
      }
    },
    processVendorGroups() {
      return this.$data.apiData.vendorGroups.data.groups.map(group => ({
        vendorGroupDef: this.getManifestItem(
          "DestinyVendorGroupDefinition",
          group.vendorGroupHash
        ),
        vendorHashes: group.vendorHashes
      }));
    },
    processVendorsFromGroup(group) {
      return group.vendorHashes.map(vendor =>
        this.getManifestItem("DestinyVendorDefinition", vendor)
      );
    },
    updateHeight() {
      this.$data.height = window.innerHeight - this.$vuetify.application.top;
    }
  }
};
</script>
<style>
.light::-webkit-scrollbar {
  width: 15px;
}

.light::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.light::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.light::-webkit-scrollbar-thumb:hover {
  background: black;
}

.dark::-webkit-scrollbar {
  width: 15px;
}

.dark::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.dark::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: white;
}
</style>
