<template>
  <div
    v-if="item"
    v-on:mousemove="moveDropdown"
    v-on:mouseenter="tooltip = true"
    v-on:mouseleave="tooltip = false"
    v-bind:class="{bountiesWidth : !this.$props.showDescription}"
  >
    <v-card v-if="!noDecoration" class="d-flex" v-bind:height="height">
      <img
        v-bind:src="'https://www.bungie.net' + item.displayProperties.icon"
        v-bind:height="height"
        v-bind:class="{invertImg: imgWithTheme}"
      />
      <div v-if="!this.$props.showDescription">
        <v-card-title class="pa-1 pl-2" width>{{item.displayProperties.name}}</v-card-title>
        <v-card-subtitle class="preformatted pa-2 pb-0">{{getFirstHalfOfDescription()}}</v-card-subtitle>
        <v-card-subtitle
          v-show="item.displayProperties.description.length > this.descriptionFirstHalfLength+1"
          class="pa-0 pl-2"
        >{{getSecondHalfOfDescription()}}</v-card-subtitle>
      </div>
    </v-card>
    <img
      v-if="noDecoration"
      v-bind:src="'https://www.bungie.net' + item.displayProperties.icon"
      v-bind:height="height"
      v-bind:class="{invertImg: imgWithTheme}"
    />
    <v-card
      v-if="tooltip"
      v-bind:style="{top: tooltipY + 'px', left: tooltipX + 'px'}"
      class="tooltip"
      ref="tooltip"
      raised
    >
      <v-card-title>{{item.displayProperties.name}}</v-card-title>
      <v-card-subtitle class="preformatted">{{item.displayProperties.description}}</v-card-subtitle>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: {
    hash : Number,
    table : String,
    displayProperties: String,
    staticRoll: String,
    height: String,
    noDecoration: Boolean,
    imgWithTheme: Boolean,
    showDescription: {default:true}
},
  data: () => ({
    item: undefined,
    tooltip: false,
    tooltipX: 0,
    tooltipY: 0,
    descriptionFirstHalfLength: 0
  }),
  computed: {
    stateManifest() {
      return this.$store.state.manifest;
    }
  },
  methods: {
    moveDropdown(event) {
      this.$data.tooltipX =
        event.clientX + this.$refs.tooltip.clientWidth > window.innerWidth
          ? window.innerWidth - this.$refs.tooltip.clientWidth
          : event.clientX;
      this.$data.tooltipY =
        event.clientY + this.$refs.tooltip.clientHeight > window.innerHeight
          ? window.innerHeight - this.$refs.tooltip.clientHeight
          : event.clientY;
    },
    getFirstHalfOfDescription() {
      let firstHalfLength = 60;
      if (
        this.item.displayProperties.description.length <= firstHalfLength ||
        this.item.displayProperties.description[firstHalfLength] === " " ||
        this.item.displayProperties.description[firstHalfLength] === "."
      ) {
        // Either its not 150 characters long, or theres a space at 150, or the string ends at 150
        this.descriptionFirstHalfLength = 60;
        return this.item.displayProperties.description.substring(
          0,
          firstHalfLength
        );
      } else {
        for (let i = firstHalfLength; i > 0; i--) {
          if (
            this.item.displayProperties.description[i] == " " ||
            this.item.displayProperties.description[i] == "."
          ) {
            this.descriptionFirstHalfLength = i;
            return this.item.displayProperties.description.substring(
              0,
              this.descriptionFirstHalfLength
            );
          }
        }
      }
    },
    getSecondHalfOfDescription() {
      if(this.item.displayProperties.description[this.descriptionFirstHalfLength+60] === " " || this.item.displayProperties.description[this.descriptionFirstHalfLength+60] === ".")
      {
        if(this.item.displayProperties.description.length > this.descriptionFirstHalfLength+60)
        {
          return this.item.displayProperties.description.substring(this.descriptionFirstHalfLength,this.descriptionFirstHalfLength+60) + "..."
        }else{
          return this.item.displayProperties.description.substring(this.descriptionFirstHalfLength,this.descriptionFirstHalfLength+60)
        }
      }else{
        for (let i = this.descriptionFirstHalfLength+60; i > 0; i--) {
          if (
            this.item.displayProperties.description[i] == " " ||
            this.item.displayProperties.description[i] == "."
          ) {
            console.log(this.item.displayProperties.description.length);
            console.log(this.descriptionFirstHalfLength)
            return this.item.displayProperties.description.substring(
              this.descriptionFirstHalfLength,
              i) + "...";
          }
        }
      }
      return this.item.displayProperties.description.substring(
        this.descriptionFirstHalfLength + 1,
        this.descriptionFirstHalfLength + 60
      );
    }
  },
  mounted() {
    this.$data.item = this.stateManifest[this.$props.table][this.$props.hash];
  }
};
</script>

<style scoped>
.tooltip {
  position: fixed;
  pointer-events: none;
  width: 300px;
  z-index: 100;
}

.invertImg {
  filter: invert(0.5);
}

.preformatted {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}

.bountiesWidth {
  width: 50%;
}
</style>
