<template>
  <v-card outlined>
    <v-card-title>Xur's Inventory</v-card-title>
    <v-card-text>
      <div v-if="xurVendor" class="d-flex flex-wrap">
        <Item
          v-for="hash in exoticItems"
          :key="hash"
          class="mr-2"
          v-bind:hash="hash"
          table="DestinyInventoryItemDefinition"
          staticRoll
          height="60px"
        ></Item>
      </div>
      <v-progress-circular v-else indeterminate></v-progress-circular>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
import Item from "./Item.vue";

export default {
  name: "XurMini",
  components: {
    Item
  },
  data: () => ({
    xurVendor: undefined
  }),
  computed: {
    exoticItems() {
      if (this.$data.xurVendor) {
        return this.$data.xurVendor.categories.data["2190858386"].categories
          .find(cat => cat.displayCategoryIndex == 0)
          .itemIndexes.map(
            saleHash =>
              this.$data.xurVendor.sales.data["2190858386"].saleItems[saleHash]
                .itemHash
          );
      } else {
        return undefined;
      }
    }
  },
  mounted() {
    Axios.get(
      "https://www.bungie.net/Platform/Destiny2//Vendors/?components=400,401,402",
      {
        headers: {
          "X-API-Key": process.env.VUE_APP_BUNGIE_KEY
        }
      }
    ).then(resp => {
      this.$data.xurVendor = resp.data.Response;
      console.log(resp.data.Response);
    });
  }
};
</script>
